/* Setjum inn „reset“ sem fjarlægir margin og padding af öllu */
* {
  margin: 0;
  padding: 0;
}

/* Reiknum stærð á öllum boxum sem border-box */
html {
  box-sizing: border-box;
}
/* og látum erfast á allt */
*,
*:before,
*:after {
  box-sizing: inherit;
}

:root {
  /* Grunn bilið okkar er 1rem == 16px */
  --spacing: 1rem;
  /* Hámarksbreidd á efni */
  --max-width: 1400px;

  --color-text: #222;
  --color-text-secondary: #222;
  --color-link: #069;
  --color-border: #ccc;
  --graph-background: #fbfbfb;
  --card-background: #;

  /* Letur stillingar */
  --font-size: 16px;
  --font-family-base: 'Inter', Helvetica, Arial, sans-serif;
  --font-data: 'Consolas', Helvetica, Arial, sans-serif;
  /* Grid stillingar */
  --columns: 12;
  --gutter: 30px;
  --offset: 20px;
}

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-display: swap;
  src: url(inter.ttf) format('woff');
}
@font-face {
  font-family: 'Consolas';
  font-style: normal;
  font-display: swap;
  src: url(Consolas.ttf) format('woff');
}

body {
  padding-top: var(--spacing);

  font-size: var(--font-size);
  line-height: 1.5;
  font-family: var(--font-family-base);
}

/*** Layout ***/

/* Utan um allt efni, miðjar og setur breidd */
.wrapper {
  /* Útbýr bil á milli lóðréttra eininga */
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: 100%;
  gap: var(--gutter);

  margin: 0 auto;
  width: calc(100% - (2 * var(--offset)));
  max-width: var(--max-width);
}

main {
  /* Útbýr bil á milli lóðréttra eininga */
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: 100%;
  gap: var(--gutter);

  /* setjum margin neðst, annars endar efni skyndilega */
  margin-bottom: var(--gutter);
}

svg {
  width: 100%;
  object-fit: cover;
  height: 150px;
  background-color: var(--graph-background);
}
rect {
  fill: blue;
  opacity: 0.5;
}

.content {
  display: grid;
  gap: var(--gutter);
  grid-template-columns: 1fr;
}

section {
  display: grid;
  border-radius: 2px;
  border: 1px solid var(--color-border);
  padding: 5px;
  grid-column: span 1;
  grid-row: span 3;
  background-color: var(--card-background);
}

section a {
  text-decoration: none;
  color: var(--color-text);
}

.card:hover {
  background-color: rgba(0, 0, 0, 0.1);
}
.card:hover svg {
  background-color: rgba(0, 0, 0, 0.1);
}

@media (min-width: 500px) and (max-width: 700px) {
  .content {
    grid-template-columns: 1fr 1fr;
  }
}
@media (min-width: 700px) and (max-width: 1100px) {
  .content {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media screen and (min-width: 1100px) {
  .content {
    grid-template-columns: repeat(4, 1fr);
  }
}

ul {
  list-style: none;
}

.analysis_wrapper {
  grid-column: span 2;
}

.data_wrapper {
  display: flex;
  flex-direction: column;
  grid-column: span 2;
  background-color: #f0f0f9;
}

.analysis_content {
  display: grid;
  gap: var(--gutter);
  grid-template-columns: repeat(2, 1fr);
}

@media (min-width: 700px) {
  .data_wrapper {
    grid-column: span 1;
  }
}

.data {
  background-color: #f7f7f9;
  padding: 5px;
  flex: 1;
  font-family: var(--font-data);
}
